<tip-section data-id="{{ block.id }}" class="tips">

  <span class="tips__text">
    <span class="tips__text__header">Send some love to your hardworking fulfillment workers alongside your order 💜</span>
    <span class="tips__text__subheader no-wrap">
      Powered by <b>HeyThanks</b> <span title="What is HeyThanks?" class="tips__help__tooltip">?</span>
    </span>
  </span>

  <input type="radio" id="radio-1" name="tip-options">
  <label for="radio-1" class="tips__radio tips__radio-1">
    <span class="tips__radio__control"></span>
    {%- if block.settings.description_1 -%}
      <span class="tips__radio__description">{{ block.settings.description_1 }}</span>
    {%- endif -%}
    {%- if block.settings.price_1 -%}
      <span class="tips__radio__price">{{ block.settings.price_1 }}</span>
    {%- endif -%}
  </label>

  <input type="radio" id="radio-2" name="tip-options">
  <label for="radio-2" class="tips__radio tips__radio-2">
    <span class="tips__radio__control"></span>
    {%- if block.settings.description_1 -%} 
      <span class="tips__radio__description">{{ block.settings.description_2 }}</span>
    {%- endif -%}
    {%- if block.settings.price_2 -%}
      <span class="tips__radio__price">{{ block.settings.price_2 }}</span>
    {%- endif -%}
  </label>

</tip-section>

{% schema %}
  {
    "name": "Tip Section",
    "target": "section",
    "stylesheet": "tip-section.css",
    "javascript": "tip-section.js",
    "templates": ["cart"],
    "settings": [
      {
        "type": "text",
        "id": "description_1",
        "label": "Description 1",
        "default": "🙂"
      },
      {
        "type": "text",
        "id": "price_1",
        "label": "Price 1",
        "default": "$1.00"
      },
      {
        "type": "text",
        "id": "description_2",
        "label": "Description 2",
        "default": "😊"
      },
      {
        "type": "text",
        "id": "price_2",
        "label": "Price 2",
        "default": "$5.00"
      }
    ]
  }
{% endschema %}
